{% extends "layout.html" %}

{% block title %}
    favorites
{% endblock %}
{% block main %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}<br>
        <form action="/password" method="post">
        <input class="form-control mx-auto w-auto" name="old" placeholder="Old Password" type="password"><br>

        <input class="form-control mx-auto w-auto" name="new" placeholder="New Password" type="password"><br>

        <input class="form-control mx-auto w-auto" name="confirmation" type="password" placeholder="Confirmation"><br>

        <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
{% endblock %}
